.postsWrapper {
  position: relative;
  display: grid;
  text-align: center;
  width: 100%;
  grid-gap: 20px;

  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 800px) {
    & {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
.postBox {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(199, 199, 199);
  overflow: hidden;
  small {
    position: relative;
    font-size: 0.7rem;
  }
  &_userAndDate {
    display: flex;
    align-items: left;
    flex-direction: column;
  }
  &_user {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--text-color);
    .postBox_userWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      border: solid var(--border-color) 3px;
    }
  }
  &_likesAndComments {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    p {
      margin-left: 5px;
    }
  }
  &_likes,
  &_comments {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  &_images {
    &:hover {
      filter: brightness(1.1);
    }
    position: relative;
    width: 100%;
    height: 250px;
    text-align: center;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 800px) {
      & {
        height: 350px;
      }
    }
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 10px;
    }
  }
}
